Axeda-iOS/Axeda-iOS/WSDLs/General.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sdk.axeda.com/webservices/services/General" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sdk.axeda.com/webservices/services/General" xmlns:intf="http://sdk.axeda.com/webservices/services/General" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://sdk.axeda.com/webservices/type" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://sdk.axeda.com/webservices/type" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="SessionInfo">
        <sequence>
          <element name="User" nillable="true" type="xsd:string"/>
          <element name="Password" nillable="true" type="xsd:string"/>
          <element name="sessionID" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="Authentication">
    <wsdl:part name="Authentication" type="tns1:SessionInfo"/>
  </wsdl:message>
  <wsdl:message name="getVersionRequest"/>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="version" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="LoginRequest"/>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="sessionID" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="General">
    <wsdl:operation name="getVersion">
      <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>
      <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="impl:LoginRequest" name="LoginRequest"/>
      <wsdl:output message="impl:LoginResponse" name="LoginResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralSoapBinding" type="impl:General">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVersion">
      <wsdlsoap:operation soapAction="getVersion"/>
      <wsdl:input name="getVersionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdlsoap:operation soapAction="Login"/>
      <wsdl:input name="LoginRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralService">
    <wsdl:port binding="impl:GeneralSoapBinding" name="General">
      <wsdlsoap:address location="http://sdk.axeda.com/webservices/services/General"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
