Axeda-iOS/Axeda-iOS/WSDLs/LocationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sdk.axeda.com/webservices/location/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sdk.axeda.com/webservices/location/" xmlns:intf="http://sdk.axeda.com/webservices/location/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://sdk.axeda.com/webservices/type" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://sdk.axeda.com/webservices/type" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <simpleType name="ActionType">
        <restriction base="xsd:string">
          <enumeration value="create"/>
          <enumeration value="find"/>
          <enumeration value="createIfNotFound"/>
        </restriction>
      </simpleType>
      <complexType name="Location">
        <sequence>
          <element name="id" type="xsd:long"/>
          <element name="action" nillable="true" type="tns1:ActionType"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="line1" nillable="true" type="xsd:string"/>
          <element name="line2" nillable="true" type="xsd:string"/>
          <element name="city" nillable="true" type="xsd:string"/>
          <element name="state" nillable="true" type="xsd:string"/>
          <element name="zip" nillable="true" type="xsd:string"/>
          <element name="country" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="LocationQuery">
        <sequence>
          <element name="id" nillable="true" type="xsd:long"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="line1" nillable="true" type="xsd:string"/>
          <element name="line2" nillable="true" type="xsd:string"/>
          <element name="city" nillable="true" type="xsd:string"/>
          <element name="state" nillable="true" type="xsd:string"/>
          <element name="zip" nillable="true" type="xsd:string"/>
          <element name="country" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="LocationUpdateQuery">
        <sequence>
          <element name="query" nillable="true" type="tns1:LocationQuery"/>
          <element name="update" nillable="true" type="tns1:Location"/>
        </sequence>
      </complexType>
      <complexType name="LocationList">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Location[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="IdList">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="LocationUpdateQueryList">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:LocationUpdateQuery[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="SessionInfo">
        <sequence>
          <element name="User" nillable="true" type="xsd:string"/>
          <element name="Password" nillable="true" type="xsd:string"/>
          <element name="sessionID" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="Authentication">
    <wsdl:part name="Authentication" type="tns1:SessionInfo"/>
  </wsdl:message>
  <wsdl:message name="deleteLocationsRequest">
    <wsdl:part name="ids" type="tns1:IdList"/>
  </wsdl:message>
  <wsdl:message name="getLocationsRequest">
    <wsdl:part name="query" type="tns1:LocationQuery"/>
  </wsdl:message>
  <wsdl:message name="deleteLocationsResponse"/>
  <wsdl:message name="createLocationsResponse">
    <wsdl:part name="ids" type="tns1:IdList"/>
  </wsdl:message>
  <wsdl:message name="updateLocationsRequest">
    <wsdl:part name="updates" type="tns1:LocationUpdateQueryList"/>
  </wsdl:message>
  <wsdl:message name="getLocationsResponse">
    <wsdl:part name="locations" type="tns1:LocationList"/>
  </wsdl:message>
  <wsdl:message name="getLocationResponse">
    <wsdl:part name="location" type="tns1:Location"/>
  </wsdl:message>
  <wsdl:message name="getLocationRequest">
    <wsdl:part name="id" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="updateLocationsResponse"/>
  <wsdl:message name="createLocationsRequest">
    <wsdl:part name="locations" type="tns1:LocationList"/>
  </wsdl:message>
  <wsdl:portType name="LocationService">
    <wsdl:operation name="createLocations" parameterOrder="locations">
      <wsdl:input message="impl:createLocationsRequest" name="createLocationsRequest"/>
      <wsdl:output message="impl:createLocationsResponse" name="createLocationsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocations" parameterOrder="query">
      <wsdl:input message="impl:getLocationsRequest" name="getLocationsRequest"/>
      <wsdl:output message="impl:getLocationsResponse" name="getLocationsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocation" parameterOrder="id">
      <wsdl:input message="impl:getLocationRequest" name="getLocationRequest"/>
      <wsdl:output message="impl:getLocationResponse" name="getLocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateLocations" parameterOrder="updates">
      <wsdl:input message="impl:updateLocationsRequest" name="updateLocationsRequest"/>
      <wsdl:output message="impl:updateLocationsResponse" name="updateLocationsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteLocations" parameterOrder="ids">
      <wsdl:input message="impl:deleteLocationsRequest" name="deleteLocationsRequest"/>
      <wsdl:output message="impl:deleteLocationsResponse" name="deleteLocationsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationServiceSoapBinding" type="impl:LocationService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createLocations">
      <wsdlsoap:operation soapAction="CreateLocations"/>
      <wsdl:input name="createLocationsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="createLocationsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocations">
      <wsdlsoap:operation soapAction="GetLocations"/>
      <wsdl:input name="getLocationsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLocationsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdlsoap:operation soapAction="GetLocation"/>
      <wsdl:input name="getLocationRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLocationResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocations">
      <wsdlsoap:operation soapAction="UpdateLocations"/>
      <wsdl:input name="updateLocationsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="updateLocationsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLocations">
      <wsdlsoap:operation soapAction="DeleteLocations"/>
      <wsdl:input name="deleteLocationsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="deleteLocationsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/location/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationServiceService">
    <wsdl:port binding="impl:LocationServiceSoapBinding" name="LocationService">
      <wsdlsoap:address location="http://sdk.axeda.com/webservices/services/LocationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
