Axeda-iOS/Axeda-iOS/WSDLs/MaintenanceItemService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sdk.axeda.com/webservices/maintenance/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://sdk.axeda.com/webservices/maintenance/"
                  xmlns:intf="http://sdk.axeda.com/webservices/maintenance/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://sdk.axeda.com/webservices/type"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://sdk.axeda.com/webservices/type" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <simpleType name="ActionType">
        <restriction base="xsd:string">
          <enumeration value="create"/>
          <enumeration value="find"/>
          <enumeration value="createIfNotFound"/>
        </restriction>
      </simpleType>
      <complexType name="MaintenanceQuery">
        <sequence>
          <element name="id" nillable="true" type="xsd:long"/>
          <element name="name" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="MaintenanceItem">
        <sequence>
          <element name="id" nillable="true" type="xsd:long"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="interval" nillable="true" type="xsd:long"/>
          <element name="target" nillable="true" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="MaintenanceItemList">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:MaintenanceItem[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <simpleType name="ActionType">
        <restriction base="xsd:string">
          <enumeration value="create"/>
          <enumeration value="find"/>
          <enumeration value="createIfNotFound"/>
        </restriction>
      </simpleType>
      <complexType name="Location">
        <sequence>
          <element name="id" type="xsd:long"/>
          <element name="action" nillable="true" type="tns1:ActionType"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="line1" nillable="true" type="xsd:string"/>
          <element name="line2" nillable="true" type="xsd:string"/>
          <element name="city" nillable="true" type="xsd:string"/>
          <element name="state" nillable="true" type="xsd:string"/>
          <element name="zip" nillable="true" type="xsd:string"/>
          <element name="country" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Organization">
        <sequence>
          <element name="id" type="xsd:long"/>
          <element name="action" nillable="true" type="tns1:ActionType"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="description" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="DeviceList">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Device[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="DeviceSystem">
        <sequence>
          <element name="id" type="xsd:long"/>
          <element name="action" nillable="true" type="tns1:ActionType"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="description" nillable="true" type="xsd:string"/>
          <element name="devices" nillable="true" type="tns1:DeviceList"/>
        </sequence>
      </complexType>
      <complexType name="Condition">
        <sequence>
          <element name="action" nillable="true" type="tns1:ActionType"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="priority" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Device">
        <sequence>
          <element name="id" type="xsd:long"/>
          <element name="name" nillable="true" type="xsd:string"/>
          <element name="serialNumber" nillable="true" type="xsd:string"/>
          <element name="model" nillable="true" type="xsd:string"/>
          <element name="pingRate" nillable="true" type="xsd:long"/>
          <element name="missing" type="xsd:boolean"/>
          <element name="lastContactDate" nillable="true" type="xsd:dateTime"/>
          <element name="registrationDate" nillable="true" type="xsd:dateTime"/>
          <element name="location" nillable="true" type="tns1:Location"/>
          <element name="customer" nillable="true" type="tns1:Organization"/>
          <element name="deviceSystem" nillable="true" type="tns1:DeviceSystem"/>
          <element name="condition" nillable="true" type="tns1:Condition"/>
          <element name="associatedGatewayId" nillable="true" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="SessionInfo">
        <sequence>
          <element name="User" nillable="true" type="xsd:string"/>
          <element name="Password" nillable="true" type="xsd:string"/>
          <element name="sessionID" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="Authentication">
    <wsdl:part name="Authentication" type="tns1:SessionInfo"/>
  </wsdl:message>
  <wsdl:message name="getMaintenanceItemsRequest">
    <wsdl:part name="query" type="tns1:MaintenanceQuery"/>
  </wsdl:message>
  <wsdl:message name="getMaintenanceItemsResponse">
    <wsdl:part name="maintenanceItems" type="tns1:MaintenanceItemList"/>
  </wsdl:message>
  <wsdl:message name="getMaintenanceItemRequest">
    <wsdl:part name="id" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="getMaintenanceItemResponse">
    <wsdl:part name="maintenanceItem" type="tns1:MaintenanceItem"/>
  </wsdl:message>
  <wsdl:message name="extendDeviceMaintenanceRequest">
    <wsdl:part name="maintenanceItem" type="tns1:MaintenanceItem"/>
    <wsdl:part name="device" type="tns1:Device"/>
    <wsdl:part name="target" type="xsd:long"/>
    <wsdl:part name="count" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="extendDeviceMaintenanceResponse"/>
  <wsdl:portType name="MaintenanceItemService">
    <wsdl:operation name="getMaintenanceItems" parameterOrder="query">
      <wsdl:input message="impl:getMaintenanceItemsRequest" name="getMaintenanceItemsRequest"/>
      <wsdl:output message="impl:getMaintenanceItemsResponse" name="getMaintenanceItemsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMaintenanceItem" parameterOrder="id">
      <wsdl:input message="impl:getMaintenanceItemRequest" name="getMaintenanceItemRequest"/>
      <wsdl:output message="impl:getMaintenanceItemResponse" name="getMaintenanceItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="extendDeviceMaintenance" parameterOrder="maintenanceItem device target count">
      <wsdl:input message="impl:extendDeviceMaintenanceRequest" name="extendDeviceMaintenanceRequest"/>
      <wsdl:output message="impl:extendDeviceMaintenanceResponse" name="extendDeviceMaintenanceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaintenanceItemServiceSoapBinding" type="impl:MaintenanceItemService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMaintenanceItems">
      <wsdlsoap:operation soapAction="getMaintenanceItems"/>
      <wsdl:input name="getMaintenanceItemsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMaintenanceItemsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaintenanceItem">
      <wsdlsoap:operation soapAction="getMaintenanceItem"/>
      <wsdl:input name="getMaintenanceItemRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMaintenanceItemResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendDeviceMaintenance">
      <wsdlsoap:operation soapAction="extendDeviceMaintenance"/>
      <wsdl:input name="extendDeviceMaintenanceRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
        <wsdlsoap:header message="impl:Authentication" part="Authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="extendDeviceMaintenanceResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sdk.axeda.com/webservices/maintenance/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaintenanceItemServiceService">
    <wsdl:port binding="impl:MaintenanceItemServiceSoapBinding" name="MaintenanceItemService">
      <wsdlsoap:address location="http://sdk.axeda.com/webservices/services/MaintenanceItemService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
